<section id="carrito-contenido" class="carrito">
  <h2>Tu Carrito</h2>
  <% if @items.empty? %>
    <p>El carrito está vacío.</p>
  <% else %>
    <%= turbo_frame_tag "carrito" do %>
      <%= render partial: "carritos/item", collection: @carrito.carrito_items, as: :item %>
    <% end %>
    <%= link_to "Finalizar Compra", "#", class: "btn-finalizar" %>
  <% end %>
</section>
