<% content_for :title, "Editing product" %>

<h1>Editing product</h1>

<%= render "form", grupos_product: @grupos_product %>

<br>

<div>
  <%= link_to "Show this product", @grupos_product %> |
  <%= link_to "Back to products", grupos_products_path %>
</div>
