<turbo-stream action="remove" target="carrito-item-<%= @item.id %>"></turbo-stream>

<turbo-stream action="update" target="contador-carrito">
  <template>
    <%= @item.carrito.carrito_items.sum(:cantidad) %>
  </template>
</turbo-stream>

<% if @item.carrito.carrito_items.empty? %>
  <turbo-stream action="replace" target="carrito-contenido">
    <template>
      <section id="carrito-contenido">
        <h2>Tu Carrito</h2>
        <p>El carrito está vacío.</p>
      </section>
    </template>
  </turbo-stream>
<% end %>
