<h1>Imágenes Montadas</h1>


<%= link_to "Subir Imagen Nueva", new_dashboard_banner_path, class: "btn-aggr" %>
<br>

<section class="productss">
    <% @banners.each do |banner| %>
        <div class= "product-card">
            <% if banner.imagen.attached? %>
                <%= image_tag(banner.imagen.attached? ? banner.imagen : "LogoLogoText2.svg") %>
                <%= button_to 'Eliminar', dashboard_banner_path(banner), method: :delete, class: "btn-eliminar", style: "margin: 15px auto; display: flex;" %>
            <% else %>
                <p>⚠️ Esta imagen no está adjunta</p>
                <%= button_to 'Eliminar', dashboard_banner_path(banner), method: :delete, class: "btn-eliminar", style: "margin: 15px auto; display: flex;" %>
            <% end %>
        </div>  
    <% end %>
</section>